@model Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Supplier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceSubject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceSubject)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PayMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PayMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            Items count
        </dt>
        <dd class="col-sm-10">
            @Model.GetInvoiceItemsCount()
        </dd>
        <dt class="col-sm-2">
            Total price
        </dt>
        <dd class="col-sm-10">
            @Model.GetTotalPrice()
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaidDate)
        </dt>
        <dd class="col-sm-10">
            @if (Model.GetInvoiceIsPaid())
            {
                @Html.DisplayFor(model => model.PaidDate)
            }
            else
            {
                <span>Not paid</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
    </dl>
</div>

<div>
    @if (!Model.GetInvoiceIsPaid())
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mr-2">Edit</a>
    }
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>

<div class="mt-4">
    @{
        InvoiceItemsViewModel invoiceItemsVM = new InvoiceItemsViewModel() { InvoiceId = Model.Id, InvoiceItems = Model.InvoiceItems };
    }
    <partial name="/Views/InvoiceItems/_InvoiceItemsList.cshtml" model="invoiceItemsVM" />
</div>